@import "neomorphic.scss";

.highlight {
  @extend .shadow--ridge;
  padding: 0px !important;
  border: none !important;
  border-radius: 0px !important;
}

.basicTile {
  @extend .shadow--inset;
  padding: 0px !important;
  border: none !important;
  border-radius: 0px !important;
}

.start {
  background-color: #badc58;
  font-size: 0.85em;
}

.end {
  background-color: #f0932b;
  font-size: 0.85em;
}

.backgroundHighlite {
  background-color: $primary !important;
  color: $grey-1 !important;
}

.wall {
  background-color: #535c68;
  color: $grey-1;
  font-size: 0.85em;
}

.selected {
  background-color: #8aebf1;
  font-size: 0.85em;
}

.path {
  background-color: #eb4d4b !important;
  font-size: 0.85em;
}

.empty {
  background-color: $grey-2;
  font-size: 0.85em;
}

.checked {
  background-color: #22a6b3;
}

#selectedColorModeHighlite {
  @extend .highlight;
}

.w-40 {
  width: 35%;
}

.min50 {
  height: 50px;
  width: 50px !important;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ignorePointer {
  pointer-events: none;
}

.horizontalMirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.verticalMirror {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.wrapper {
  margin: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

.spacedTable-2 {
  border-spacing: 2px;
  border-collapse: separate;
}

.spacedTable-5 {
  border-spacing: 5px;
  border-collapse: separate;
}

.spacedTable-10 {
  border-spacing: 10px;
  border-collapse: separate;
}

.spacedTable-15 {
  border-spacing: 15px;
  border-collapse: separate;
}

#speedRange {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: transparent;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: inset-shadow();
  cursor: pointer;
}

#speedRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $primary-dark;
  cursor: ew-resize;
  box-shadow: ridge-shadow();
}

#speedRange::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $primary-dark;
  cursor: ew-resize;
  box-shadow: ridge-shadow();
}

#speedRange:hover::-moz-range-thumb {
  box-shadow: raised-shadow();
}

#speedRange:hover::-webkit-slider-thumb {
  box-shadow: raised-shadow();
}

.horizontalDivider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  @extend .shadow--sunken;
  padding: 1px !important;
  border-radius: 0px !important;
}

.sidenav {
  //height: 100%;
  width: 0;
  max-width: 100%;
  //position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  //background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  overflow-y: hidden;
}

.sidenav a {
  //padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: $grey-3;
}

.sidenav .closebtn {
  //position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.cursorPointer {
  cursor: pointer !important;
}